#ifndef __CONFIG_H__
#define __CONFIG_H__


#cmakedefine HAVE_MALLOC_H		1
#cmakedefine HAVE_STDINT_H		1
#cmakedefine HAVE_SYS_TYPES_H	1
#cmakedefine HAVE_LINUX			1
#cmakedefine HAVE_GCC			1
#cmakedefine HAVE_MMAP			1
#cmakedefine HAVE_CALLOC			1
#cmakedefine HAVE_REALLOC		1
#cmakedefine CONFIG_VERSION		"@LIBTE_VERSION_STRING"

#endif // __CONFIG_H__
